nav#navbar
  .logo
  .menu
    ul
      include menu.pug
  .menu-btn
    svg.h-6.w-6(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke='currentColor')
      path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M4 6h16M4 12h16M4 18h16')

aside#sidenav
  .overlay
  .menu
    ul
      include menu.pug

script(src="./script/nav.js")