mixin faq(title)
  div
    details
      summary(title=title)= title
      p.faq-content
        block

mixin timeline(text, date, month)
  .item
    .date
      .day= date
      .month= month
    .text= text
    