@import './mixins';
#header-section {
  height: 70vh;
  background-image: url('../images/bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  text-align: center;
  .overlay {
    width: 100%;
    height: 100%;
    background: #03538166;
    backdrop-filter: blur(4px);
    position: absolute;
  }
  .info-container {
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    margin-left: auto;
    margin-right: auto;
    h1 {
      font-size: 4rem;
    }
    .button {
      padding: .5rem 2rem;
      background-color: white;
      border: 1px solid white;
      color: blue;
      margin: 0 1rem;
      text-decoration: none;
      transition: all 500ms ease;
      font-weight: bold;
      &:hover {
        background-color: transparent;
        color: white;
        border: 1px solid white
      }
      &.alternative {
        background-color: transparent;
        color: white;
        border: 1px solid white;
        &:hover {
          background-color: white;
          color: blue;
        }
      }
    }
  }
}

#footer {
  background: #e22295;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}

.read-more-state {
  display: none;
}

.read-more-target {
  opacity: 0;
  max-height: 0;
  font-size: 0;
  transition: .25s ease;
}

.read-more-state:checked~.read-more-wrap .read-more-target {
  opacity: 1;
  font-size: inherit;
  max-height: 999em;
}

.read-more-state~.read-more-trigger:before {
  content: 'Show more';
}

.read-more-state:checked~.read-more-trigger:before {
  content: 'Show less';
}

.read-more-trigger {
  cursor: pointer;
  display: inline-block;
  padding: 0.5em;
  color: #666;
  font-size: .9em;
  line-height: 2;
  border: 1px solid #ddd;
  border-radius: .25em;
  width: 200px;
  margin: 0 auto;
  text-align: center;
  transition: all 500ms ease;
  &:hover {
    background: #00afef;
    color: white;
  }
}

.timeline {
  display: flex;
  // align-items: flex-end;
  justify-content: center;
  flex-wrap: wrap;
  .item {
    width: 50%;
    @include my_bp(sm) {
      width: 20%;
    }
    &:hover {
      .date {
        &::before {
          border-top-left-radius: 50%;
          border-bottom-left-radius: 2rem;
        }
      }
    }
    .text {
      text-align: center;
      margin: 1rem;
      margin-top: 2rem;
      font-weight: 700;
    }
    .date {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 2rem;
      margin-top: 4rem;
      position: relative;
      @include my_bp(sm) {
        margin: 3rem;
      }
      &:before {
        display: block;
        position: absolute;
        content: '';
        background: rgb(154, 149, 240);
        border-radius: 50%;
        border-top-left-radius: 2rem;
        height: 0;
        padding-bottom: 100%;
        width: 100%;
        z-index: -2;
        transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
      }
      .day {
        font-size: 3rem;
        font-weight: 700;
        color: white;
      }
      .month {
        font-weight: 700;
        color: white;
      }
    }
  }
}

.speaker {
  display: flex;
  flex-direction: column;
  align-items: center;
  &:hover {
    .image {
      border-radius: 50%;
    }
  }
  .image {
    width: 150px;
    // border-radius: 50%;
    border-bottom-right-radius: 2rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  .content {
    text-align: center;
    h4 {
      font-size: 1rem;
      text-align: center;
      margin-top: 1rem;
      margin-bottom: .5rem;
    }
    a {
      display: flex;
      margin-bottom: 1px;
      justify-content: center;
      align-items: center;
      text-decoration: none;
    }
  }
}

.custom-card {
  h4 {
    font-size: 1rem;
    font-weight: bold;
  }
}