@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&family=Open+Sans:wght@300;400;700&display=swap');
@import "~bootstrap/scss/bootstrap";
@import "./mixins";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  overflow-x: hidden;
}

h1,
h2 {
  font-family: 'Montserrat', serif;
  font-weight: 600;
}

h3,
h5 {
  font-family: 'Montserrat', sans-serif;
}

#ksum-footer {
  background: #222229;
  color: #dbdbdb;
  padding: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include my_bp(sm) {
    flex-direction: row;
  }
  .left {
    text-align: center;
    @include my_bp(sm) {
      width: 35%;
    }
    p {
      margin: 0;
    }
    .phone {
      font-size: 2rem;
      font-weight: 600;
      color: white;
      svg {
        width: 2rem;
        height: 2rem;
        margin-right: .5rem;
        color: #3fafef;
      }
    }
  }
  .right {
    @include my_bp(sm) {
      width: 35%;
    }
  }
}

#ksum-copy {
  background: #1c1c21;
  color: #b1b1b1;
  padding: 20px 0;
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.section-content {
  padding-top: 80px;
}