extend layouts/default.pug

block head
  link(rel="stylesheet" href="./style/faq.scss")

include ./layouts/partials/mixin.pug

block page
  section#header-section
    .overlay
    .info-container
      h1 FAQ

  section.section-content
    .container
      h2.pt-4.text-center FAQ
      .faq-list
        +faq("WHAT IS NIDHI-EIR PROGRAM ?")  
          | The NIDHI-EIR Program would provide subsistence grant to an aspiring or budding entrepreneur of considerable potential for pursuing a promising technology business idea.
          | The Programme aims:
          ol.pl-5.ml-5
            li To encourage graduating student to take to entrepreneurship by providing support as a fellowship.
            li To provide a prestigious forum for deserving and budding entrepreneurs to pursue their ventures without any additional risks involved in technology based businesses.
            li To create, nurture and strengthen a pipeline of entrepreneurs for incubators
            li To make pursuing entrepreneurship related to a technology business idea more attractive among options available career options.  
            li To enable creation of new start-ups by entrepreneurs and significant progress towards raising funding or investment.

        +faq("WHO IS ELIGIBLE ?")
          | NIDHI-EIR support recipient should fulfil all the following requirements
          ol.pl-5.ml-5
            li Should be an Indian Citizen
            li Should have completed minimum 4 years of formal full time undergraduate/post graduate education towards one or more degree programme.
            li Should be first generation innovative entrepreneur committed to explore a business idea and has no prior source of income.
            li Should have clear intention of perusing the business idea and setting up a start up to carry it forward and should demonstrate his/her ability to build a scalable technology business startup.
            li Is not a promoter or significant (>10%) share holder / beneficiary of another company at the time of applying for and receiving the grant approval.
            li Is expected to pursue the entrepreneurial aspirations full time. NIDHI-EIR cannot be concurrent with any other remuneration or fellowship.
            li Should be willing to be registered for the pre-incubation or incubation program at the Programme Executing Partner – TBI for the entire duration of NIDHI-EIR support.

        +faq("WHO IS A PROGRAMME EXECUTING PARTNER  ?")
          | The program shall be executed at selected Technology Business Incubator (TBI). These incubators shall be approved by NSTEDB to serve as Programme Executing Partners operating the NSTEDB's EIR program.
          | Programme Executing Partner – TBI will
          ol.pl-5.ml-5
            li Operate the program to increase their pipeline of young entrepreneurs pursuing technology idea.
            li Follow an appropriate mechanism to select the NIDHI-EIRs
            li Periodically review the progress or NIDHI-EIRs.
            li Terminate the support to non-performing NIDHI-EIRs even before completion of 12 months with intimation to PIP/NSTEDB.
            li Submit periodical report, annual Utilization Certificates to Program Implementation Partner (PIP)/NSTEDB as may be required.
            li Maintain the latest data on the status of the program on the portal as per the instruction provided by the PIP/NSTEDB.

        +faq("WHO IS A PROGRAMME IMPLEMENTATION PARTNER (PIP)?")
          | Venture Center is the PIP for NIDHI-EIR
          | The PIP shall be responsible for overall management of the programme. PIP will
          ol.pl-5.ml-5
            li Invite proposals from qualifying incubators, organise an evaluation process via PMC.
            li Conduct Project Monitoring Committee(PMC), constituted by NSTEDB, with a mandate for selection of the incubators as well as the periodical review of the progress of the programme and suggest mid-course corrections, if required.
            li Submit minutes of the PMC, progress reports and annual utilisation certificates to NSTEDB in a timely manner.
            li The PIP shall also be responsible for tracking the programme and maintaining data on the programme via an online portal.

        +faq("WHAT ARE THE BROAD PARAMETERS FOR SELECTION OF TECHNOLOGY?")
          | Preference shall be given for
          ol.pl-5.ml-5
            li Technology business ideas with larger technology uncertainties and/ or long gestation periods,
            li Technology business ideas leveraging technology or IP from publicly funded research or academic organizations,
            li Technology business ideas with considerable potential for social impact.
          p.ml-5 Entrepreneurs pursuing business ideas with no or marginal technology innovation or those with very short journey (i.e less than 6 months) to commercialization are discouraged to apply.

  section.section-content