extend layouts/default.pug

block head
  link(rel="stylesheet" href="./style/home.scss")

include ./layouts/partials/mixin.pug

block page
  section#header-section
    .overlay
    .info-container
      h1 Calling NIDHI EIR FELLOWS
      //- h2 (SC & ST Category)
      .d-flex.mt-4
        a.button(href="#apply") Apply Now
        a.button.alternative(href="faq.pug") FAQ

  section.section-content
    .container
      .row
        .col-sm-12
          h2.text-primary ABOUT 
          p.text-justify Kerala Startup Mission calling young entrepreneurs for NIDHI EIR Fellowship Program 2022. KSUM  is one of the approved NIDHI-EIR centres by National Science & Technology Entrepreneurship Development Board (NSTEDB), Govt of India. 10 startups incubators had been selected as Program Execution Partners under NIDHI-EIR program from all over India and KSUM is one of them as PEP. The NIDHI-EIR Programme would provide subsistence grant upto Rs.30,000 per month to an aspiring or budding entrepreneur of considerable potential for pursuing a promising technology business idea.

  section.section-content
    .container
      h2.text-primary.mb-3.text-center FOCUS SECTORS
      .row
        .col-sm-3.col-6
          .card.shadow-sm.rounded-0.custom-card.mb-3
            img.img-fluid(src="./images/clean.jpg")
            h4.text-center.py-3 MEDTECH
        .col-sm-3.col-6
          .card.shadow-sm.rounded-0.custom-card.mb-3
            img.img-fluid(src="./images/robitics.jpeg")
            h4.text-center.py-3 HARDWARE & ROBOTICS
        .col-sm-3.col-6
          .card.shadow-sm.rounded-0.custom-card.mb-3
            img.img-fluid(src="./images/health.jpg")
            h4.text-center.py-3 CLEANTECH
        .col-sm-3.col-6
          .card.shadow-sm.rounded-0.custom-card.mb-3
            img.img-fluid(src="./images/innovation.jpeg")
            h4.text-center.py-3 INNOVATIVE TECHNOLOGIES


  section.section-content
    .container
      .row
        .col-sm-6.pb-3
          .card.shadow.rounded-0.h-100.border-0
            .card-body.p-5
              .d-flex.pb-3.justify-content-between.align-items-center
                img.img-fluid.pb-3(src="./images/undraw_reviewed_docs_neeb.svg" style="width: 38%; opacity: .5;")
                h2.text-primary BENEFITS
              ol.text-justify 
                li Upto 30000 Monthly stipend to each fellows for 12 Months. Can extend upto 18 months. Minimum 20000
                li Access to prototyping labs
                li Dedicated mentor for each fellow
                li Guidance and networking opportunities.
                li Chance to get incubated in KSUM Incubators (Trivandrum, Kochi, Kozhikode)
                li Access to structured FFS Pre-Incubation program with hand hold support


        .col-sm-6.pb-3
          .card.shadow.rounded-0.h-100.border-0
            .card-body.p-5
              .d-flex.pb-3.justify-content-between.align-items-center
                h2.text-primary OBJECTIVES
                img.img-fluid.w-25.pb-3(src="./images/undraw_project_completed_w0oq.svg" style="opacity: .5;")
              ol.text-justify 
                li To encourage graduating students to take to entrepreneurship by providing support as a fellowship.
                li To make pursuing entrepreneurship related to a technology business idea more attractive amongst available career options.
                li To provide a prestigious forum for entrepreneurs to pursue their ventures without any additional risks involved in technology based businesses.
                li To enable creation of new start-ups by entrepreneurs and significant progress towards raising funding or investment.

  section.section-content
    .container
      .row
        h2.text-primary.mb-3 ELIGIBILITY
        input#post-2.read-more-state(type='checkbox')
        ul.px-5.text-justify.read-more-wrap
          li The EIR applicant should have completed
            ul
              li Minimum 4 years of formal full time undergraduate/post graduate education towards one or more degree programme. Basic degree or diploma should be in science or engineering. OR
              li 3 years degree or diploma program and have 2 year full time work experience post degree or diploma. Basic degree or diploma should be in science or engineering.
          li The EIR is expected to be full-time committed to exploring a business idea. 
          li NIDHI-EIR seeking the support should demonstrate his ability to build a scalable technology business startup. The background of the NIDHI-EIR needs to be provided in a prescribed format.
          li.read-more-target Funding under NIDHI EIR Call 3 is divided under three heads namely - EIRs from General Category; EIRs from SC Category and EIRs from ST Category  whereas under Call 4, only General Category is considered.
          li.read-more-target The NIDHI-EIR support recipient should propose one technology business idea in a prescribed format.
          li.read-more-target NIDHI-EIR support recipient are expected to pursue their entrepreneurial aspirations full time. NIDHI-EIR cannot be concurrent with any other remuneration or fellowship.
          li.read-more-target NIDHI-EIR support recipient cannot be the promoter or significant (>10%) share holder / beneficiary of another company at the time of applying for and receiving the grant approval
          li.read-more-target The NIDHI-EIR should be registered for the pre-incubation or incubation program at the TBI for the entire duration of NIDHI-EIR support.
          li.read-more-target Preference shall be given for a) technology business ideas with larger technology uncertainties and/ or long gestation periods, b) technology business ideas leveraging technology or IP from publicly funded research or academic organizations, c) technology business ideas with considerable potential for social impact.
          li.read-more-target Entrepreneurs pursuing business ideas with no or marginal technology innovation or those with very short journey (i.e less than 6 months) to commercialization are discouraged to apply.
          li.read-more-target NIDHI-EIR seeking support should have a formal business plan for the idea they intend to pursue and a business presentation including the investment proposal.
          li.read-more-target Applying EIR's age should be below 30 as on 01.04.2022
        label.read-more-trigger(for='post-2')

  section.section-content
    .container
      h2.text-primary.mb-4.text-center PARTNERS
      .row.justify-content-center
        .col-sm-3.pb-3
          .card.shadow.rounded-0.border-0
            img.img-fluid(src="./images/dst.jpg")
        .col-sm-3.pb-3
          .card.shadow.rounded-0.border-0
            img.img-fluid(src="./images/venture.jpg")
        .col-sm-3.pb-3
          .card.shadow.rounded-0.border-0
            img.img-fluid(src="./images/crest.png")

  //- section.section-content
  //-   .container
  //-     h2.text-primary.mb-4.text-center TIMELINE
  //-     .timeline
  //-       +timeline("Application Open", "01", "Oct 2022")
  //-       +timeline("Last date of Application", "31", "Oct 2022")
  //-       +timeline("Presentation to selection committee", "10", "Nov 2022")
  //-       +timeline("Announcement of shortlisted candidates", "20", "Nov 2022")
        //- +timeline("Programme Starts", "01", "July 2021")

  section.section-content
    .container
      h2.text-primary.mb-4.text-center MENTORS
      .row.justify-content-center
        .col-sm-2.col-6
          .speaker
            img.image(src="./images/tom.jpg")
            .content
              h4 TOM THOMAS
              p Project Director, KSUM
              a(href="https://www.linkedin.com/in/thomathoma" target="_blank")
                i.bi-linkedin
        .col-sm-2.col-6
          .speaker
            img.image(src="./images/jith.jpeg")
            .content
              h4 JITH THOMAS
              p Senior Fellow, KSUM
              a(href="https://www.linkedin.com/in/jith-thomas-a418913/" target="_blank")
                i.bi-linkedin
        .col-sm-2.col-6
          .speaker
            img.image(src="./images/parag.jpeg")
            .content
              h4 PARAG MURALI
              p Senior Fellow, KSUM
              a(href="https://www.linkedin.com/in/parag-murali-45705466/" target="_blank")
                i.bi-linkedin
        .col-sm-2.col-6
          .speaker
            img.image(src="./images/dhanaj.jpeg")
            .content
              h4 DHANAJ K
              p Assistant Manager, KSUM
              a(href="https://www.linkedin.com/in/dhanajkris/" target="_blank")
                i.bi-linkedin

  section.section-content#apply
    .container.mt-4
      h2.text-primary.mb-4.text-center APPLY
      .row
        .col-sm-6.mx-auto
          h5.text-center.pb-2.pt-3 DOCUMENTS REQUIRED 
          ol
            li Duly filled application form
            li Proof for Caste certificate ( For SC, ST category application)
            li Formal Business Plan 
            li Business presentation including the Financials
            li Proof of citizenship (copy of aadhaar/passport)
        //- .col-sm-6
        //-   h4 APPLICATION CATEGORY 
        //-   ul
        //-     li Total Open Positions : 17
        //-     li General Category : 12
        //-     li Scheduled Caste : 3
        //-     li Scheduled Tribe : 2
      .text-center.pt-4
        a.btn.btn-primary.rounded-0.py-2.px-4(target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSfZsfbA9c3YAApneCdA-k_XikTG0FPLJ-WFiwPfAOR5dcgHpw/viewform") Apply Now
      .text-center.pt-3
        i Note: We have completed the EIR Fellow onboarding for this year. we are not processing applications at this moment. your application will be considered once we are ready to resume processing
  

  section.section-content
  
